# Copy this file to your application project as `.env` 
# and set the values accordingly to use Giocci features.
# It is recommended to gitignore it to keep your servers
# information secret.

# The node name of your relay
MY_RELAY_NODE_NAME="relay1"
# The nodes' name for Giocci relays
ENGINE_NODE_NAME="relay1, relay2, relay3"

# The nodes' name for Giocci client
CLIENT_NODE_NAME="client1"
