# Copy this file to your application project as `.env` 
# and set the values accordingly to use Giocci features.
# It is recommended to gitignore it to keep your servers
# information secret.

# The node name of your relay
MY_RELAY_NODE_NAME="relay1"

# The nodes' name for Giocci relays
ENGINE_NODE_NAME="engine1, engine2, engine3"

# The nodes' name for Giocci client
CLIENT_NODE_NAME="client1"

# The nodes' name for sending to Giocci Engine
ENGINE_NAME_TO_SEND="engine1"

# The nodes' name for sending to Giocci Client
CLIENT_NAME_TO_SEND="client1"

# zenoh key_expr Prefix
KEY_PREFIX=""
